{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <div>
    <h1 class="text-center">Buckets</h1>
  </div>
  <div class="row">
    {% for item in buckets %}
    <div class="card w-25 mx-2">
      <div class="card-header mt-3">
        <h4 class="card-title text-center">{{ item.title }}</h4>
      </div>
      <div class="card-body">
        <p class="card-text">{{ item.description }}</p>
        <a href="#" class="btn btn-primary">View Items</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
