{% extends "base.html" %} {% block content%}
<div class="table-responsive container">
  {{ chart|safe }}
  <hr />
  <table id="example" class="table table-striped table-bordered">
    <thead class="thead-dark">
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Date Incurred</th>
    </thead>
    <tbody>
      {% for item in items%}
      <tr>
        <td scope="row">{{ item.title }}</td>
        <td scope="row">{{ item.description }}</td>
        <td scope="row">{{ item.amount }}</td>
        <td scope="row">{{ item.date_incurred }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>
{% endblock %}
